@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .pause {
        animation-play-state: paused;
    }
}
.fade-enter-active {
    transition: opacity 0.8s ease;
  }
  
  .fade-enter-from {
    opacity: 0;
  }
  
  .fade-leave-active {
    display: none
  }